.pagination {
  color: rgb(28, 25, 25);
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination__item {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  align-items: center;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  border: thin solid black;
}

.pagination__item:hover {
  background-color: rgb(129, 111, 111);
}

.pagination__item.active {
  background-color: silver;
  color: rgb(0, 0, 0);
}
