.add__hero {
  display: flex;
  flex-direction: row;
}

.create__hero {
  width: 200px;
}

.plus__btn {
  border: none;
  outline: none;
  height: 20px;
  background-color: rgb(86, 25, 25);
  color: white;
  border-radius: 50px;
  cursor: pointer;
  width: 30px;
  margin: auto;
  font-size: 20px;
}

.create__btn input {
  content: left;
  width: 20px;
}

.exit {
  display: flex;
  flex-direction: row;
}

.exit__profile {
  width: 200px;
}

.exit__btn {
  font-size: x-large;
  color: rgb(86, 25, 25);
}

.content {
  height: 300px;
}

.profile__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pictures__dota {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin: 50px auto;
}

.pic__dota img {
  max-width: 500px;
  max-height: 250px;
  object-fit: cover;
}

.profile__all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto 200px;
}

.profile__rigth {
  margin-top: 25px;
}
